<template>
  <div class="" id="app">
    <Header></Header>
    <router-view/>
  </div>
</template>
<script>
import Header from './components/Dashboard/Header'
export default {
    name: 'App',
    data () {
        return {}
    },
    components: {
      Header
    }
}
</script>

<style lang="scss">
@import "~bootstrap/scss/bootstrap";
@import "./css/_custom.scss";

#app {
  height: 100vh;
  background-color:#2B2D42;
  color: #EDF2F4;
}
</style>
